* {
  background-color:#c6ac8f;
}
#seerTitle {
  background-color:#22333b;
  font-size: 90px;
  font-family: "Oi cursive";
  font-weight: bold;
  color:#c6ac8f;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color:#0a0908;
}
h1 {
  font-family: cursive;
  color:#283d3b;
}
.nav {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;

}
nav ul {
  list-style: none;
  display: flex;
}
nav a {
  flex-direction: row;
  justify-content: left;
  color:#283d3b;
  padding: 8px 40px;
  text-decoration: none;
  font-size: 35px;
  border: 4px double #5e503f;
}
nav a:hover{
  background-color: #eae0d5
}
img {
  display: block;
  margin-top: 10% ;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  opacity: .60;
}
#contact {
  background-color: #5e503f;
  text-align: center;
  color: #c6ac8f;
  font-size: 40px;
}
h2 {
  text-align: center;
  color:#5e503f;
  font-size: 80px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color:#eae0d5;
  padding-top: 5%;
}
.form {
  display: flex;
  flex-direction: column;
}

#contactUs {
  display: flex;
  flex-direction: column;
  padding: 15px 150px;
  border: 14px double #5e503f;
  font-weight: bold;
  font-size: 20px;
}

#moveItemNum {
  text-align: center;
}

input {
  all: unset;
  height: 100%;
  width: 100%;
  padding: 15px 15px;
  font-weight: bold;
  color: #283d3b
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-top: 30px;
}

.production {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-top: 30px;
  font-weight: bold;
  font-size: 20px;
}

h4 {
  font-size: 60px;
  padding-left: 420px;
}

center {
  font-size: 60px;
}
